.container
{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 15vw;
    background: gray;
    margin: auto;
    padding: 1%;
    border-radius: 30px;
    margin-top: 100px;
}

.display
{
    background: white;
    padding: 15%;
}
.numpads
{
    background: gray;
    flex: 1;
    margin-top: 1%;
}
#header
{
    text-align: center;
}